In [2]:
import pandas as pd

Load datasets:

In [4]:
x_docs = pd.read_csv('all_x.csv')

In [5]:
y_returns = pd.read_csv('returns_y.csv')

In [6]:
x_docs.head()

   Unnamed: 0  Unnamed: 0.1        Date tokens
0           0             0  2006-11-22    NaN
1           1             1  2006-11-23    NaN
2           2             2  2006-11-24    NaN
3           3             3  2006-11-25    NaN
4           4             4  2006-11-26    NaN

In [7]:
x_docs = x_docs.set_index('Date')
y_returns = y_returns.set_index('Dates')

In [8]:
df = pd.concat([y_returns, x_docs.reindex(y_returns.index)], axis = 1).dropna()

In [9]:
df.drop(df.columns[[0,13,14]], axis = 1, inplace = True)

In [10]:
df.head()

,SPTR INDEX,SPTRINFT INDEX,SPTRENRS INDEX,SPTRFINL INDEX,SPTRHLTH INDEX,SPTRINDU INDEX,SPTRCOND INDEX,SPTRUTIL INDEX,SPTRMATR INDEX,SPTRCONS INDEX,SPTRTELS INDEX,SPTRRLST INDEX,tokens
Dates,,,,,,,,,,,,,
2006-11-27,1.020386,1.014054,1.062889,1.013999,1.010365,1.010625,1.017696,1.036237,1.021756,1.017921,1.033472,1.036978,national retail federations holiday consumer i...
2006-11-28,1.020729,1.011166,1.046627,1.017360,1.009640,1.015953,1.027210,1.032302,1.023570,1.020145,1.033215,1.026601,national retail federations holiday consumer i...
2006-11-29,1.009917,1.000795,1.009928,1.012438,1.005459,1.005796,1.017952,1.012773,1.011910,1.014924,1.021687,1.006327,national retail federations holiday consumer i...
2006-11-30,1.005094,0.991252,0.996702,1.011538,0.999017,1.004162,1.012475,1.005618,1.014383,1.017572,1.012002,0.992666,national retail federations holiday consumer i...
2006-12-01,1.009762,1.004095,0.990789,1.018959,1.000131,1.008490,1.016322,1.000195,1.023150,1.021328,1.019001,0.998460,national retail federations holiday consumer i...

In [21]:
df_sample = df.reset_index().tail(300)

In [23]:
df_sample.head()

,Dates,SPTR INDEX,SPTRINFT INDEX,SPTRENRS INDEX,SPTRFINL INDEX,SPTRHLTH INDEX,SPTRINDU INDEX,SPTRCOND INDEX,SPTRUTIL INDEX,SPTRMATR INDEX,SPTRCONS INDEX,SPTRTELS INDEX,SPTRRLST INDEX,tokens
3331,2019-09-06,1.010229,0.996507,1.034830,1.039264,1.002890,1.028793,1.004419,1.001038,1.034161,0.992429,1.014757,0.969207,market see gain investor remain cautiously opt...
3332,2019-09-09,1.007106,1.001024,1.048759,1.018569,1.009776,1.024354,0.988248,1.007729,1.022683,0.985583,1.004722,0.987639,palm restaurant family feud restaurant palm st...
3333,2019-09-10,1.009352,1.009399,1.019679,1.015467,1.008290,1.013807,0.997989,1.015617,1.019568,0.997066,1.007934,1.015323,stock high investor watch development renew co...
3334,2019-09-11,1.002405,0.999812,1.015201,1.013849,0.998259,1.002761,0.995711,1.010524,1.010496,0.993248,0.997672,1.014981,stock decline investor remain cautious preside...
3335,2019-09-12,0.999452,0.996852,1.017253,1.005063,1.003927,0.997040,0.988322,1.013079,1.004583,0.990215,0.994581,1.011666,american airlines extend cancellation ground b...

In [24]:
df_sample.to_csv("df_sample.csv")

In [25]:
df.to_csv("df_final.csv")