In [1]:
import requests
from bs4 import BeautifulSoup
from bs4 import SoupStrainer
from time import time
import pandas as pd

In [2]:
months = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]

In [3]:
years = [year for year in range(2006, 2021)]

In [4]:
strainer = SoupStrainer('a', class_ = 'SiteMapArticleList-link')

In [5]:
article_links = []
length = []
t0 = time()
for year in years:
    for month in months:
        print(f'{month} - {year}')
        t1 = time()
        for day in range(1,32):
            link = f'https://www.cnbc.com/site-map/{year}/{month}/{day}/'
            page = str(requests.get(link).content)
            page = page[str(page).find('body'):]
            soup = BeautifulSoup(page, parse_only = strainer)
            links = soup.find_all('a', class_='SiteMapArticleList-link')
            if links != []:
                for a_link in links:
                    article_links.append(a_link['href'])
                    length.append(link)
        print(time()-t1)
print(time()-t0)

January - 2006
19.736795902252197
February - 2006
15.59265685081482
March - 2006
15.232767105102539
April - 2006
14.59723424911499
May - 2006
13.847558975219727
June - 2006
14.088925838470459
July - 2006
14.160164833068848
August - 2006
14.10075831413269
September - 2006
14.962288856506348
October - 2006
20.142704248428345
November - 2006
14.173299312591553
December - 2006
14.994412183761597
January - 2007
16.32174277305603
February - 2007
17.09568452835083
March - 2007
16.70344305038452
April - 2007
17.841018199920654
May - 2007
20.132397174835205
June - 2007
17.873043298721313
July - 2007
14.924350500106812
August - 2007
14.971537828445435
September - 2007
14.558979272842407
October - 2007
13.781375408172607
November - 2007
13.241758108139038
December - 2007
14.031699895858765
January - 2008
14.995840549468994
February - 2008
13.943265438079834
March - 2008
14.127214193344116
April - 2008
21.185296058654785
May - 2008
14.62737774848938
June - 2008
15.509485244750977
July - 2008
22.92130422592163
August - 2008
19.497350931167603
September - 2008
18.835363626480103
October - 2008
16.185172080993652
November - 2008
15.501420974731445
December - 2008
15.804171800613403
January - 2009
15.764787912368774
February - 2009
16.161784172058105
March - 2009
16.088992834091187
April - 2009
15.85860538482666
May - 2009
14.867254972457886
June - 2009
14.660812139511108
July - 2009
14.236562490463257
August - 2009
20.711633682250977
September - 2009
18.943386554718018
October - 2009
14.92410659790039
November - 2009
14.758546829223633
December - 2009
13.853964805603027
January - 2010
15.376897096633911
February - 2010
15.999307632446289
March - 2010
15.500563859939575
April - 2010
15.778809070587158
May - 2010
19.705434799194336
June - 2010
21.65311884880066
July - 2010
15.51352834701538
August - 2010
15.758872985839844
September - 2010
15.155491352081299
October - 2010
15.636199712753296
November - 2010
15.320554256439209
December - 2010
15.293121814727783
January - 2011
20.62736439704895
February - 2011
15.537970066070557
March - 2011
17.00653839111328
April - 2011
15.94787335395813
May - 2011
16.934929132461548
June - 2011
15.695078134536743
July - 2011
15.435338020324707
August - 2011
16.1328706741333
September - 2011
14.752563953399658
October - 2011
14.59299111366272
November - 2011
14.572141170501709
December - 2011
14.498277187347412
January - 2012
14.330201148986816
February - 2012
16.056076526641846
March - 2012
16.14093327522278
April - 2012
16.58566379547119
May - 2012
14.51821517944336
June - 2012
14.924103498458862
July - 2012
21.0083487033844
August - 2012
15.45363163948059
September - 2012
16.531816005706787
October - 2012
14.868786573410034
November - 2012
15.976799011230469
December - 2012
15.838720321655273
January - 2013
17.904139041900635
February - 2013
18.207107543945312
March - 2013
15.888572454452515
April - 2013
16.001240015029907
May - 2013
24.857555627822876
June - 2013
21.51291537284851
July - 2013
16.341822862625122
August - 2013
22.685223817825317
September - 2013
16.00022864341736
October - 2013
16.225624799728394
November - 2013
16.888851165771484
December - 2013
16.324809789657593
January - 2014
16.859935760498047
February - 2014
17.216463804244995
March - 2014
15.11828064918518
April - 2014
15.613292932510376
May - 2014
22.297717094421387
June - 2014
17.593868732452393
July - 2014
16.408536672592163
August - 2014
15.428815603256226
September - 2014
17.152998447418213
October - 2014
17.911869287490845
November - 2014
16.56171417236328
December - 2014
17.035155534744263
January - 2015
16.06679344177246
February - 2015
19.259645700454712
March - 2015
15.895084381103516
April - 2015
16.36261248588562
May - 2015
15.931605815887451
June - 2015
21.45135998725891
July - 2015
17.01123070716858
August - 2015
19.175694227218628
September - 2015
16.27477192878723
October - 2015
19.81291961669922
November - 2015
17.37856912612915
December - 2015
16.866350650787354
January - 2016
16.42542839050293
February - 2016
19.149761199951172
March - 2016
16.681286573410034
April - 2016
23.407936811447144
May - 2016
16.448736429214478
June - 2016
20.76659846305847
July - 2016
16.291844606399536
August - 2016
16.931936740875244
September - 2016
17.423863649368286
October - 2016
15.805505275726318
November - 2016
17.913843154907227
December - 2016
16.006929397583008
January - 2017
16.738656520843506
February - 2017
16.074516773223877
March - 2017
15.720148086547852
April - 2017
15.368736267089844
May - 2017
16.319713354110718
June - 2017
15.951175928115845
July - 2017
15.091896057128906
August - 2017
17.161084175109863
September - 2017
17.00525951385498
October - 2017
15.888277530670166
November - 2017
15.930578231811523
December - 2017
21.388449907302856
January - 2018
16.61862063407898
February - 2018
18.26667046546936
March - 2018
17.365406274795532
April - 2018
17.889596223831177
May - 2018
16.8989040851593
June - 2018
16.750622749328613
July - 2018
17.38079571723938
August - 2018
15.238250017166138
September - 2018
16.45524263381958
October - 2018
16.577913522720337
November - 2018
16.296966791152954
December - 2018
16.826836347579956
January - 2019
24.942575216293335
February - 2019
16.005462884902954
March - 2019
15.878645658493042
April - 2019
16.20059061050415
May - 2019
15.421932697296143
June - 2019
16.952448844909668
July - 2019
17.153035879135132
August - 2019
16.161182403564453
September - 2019
14.857707023620605
October - 2019
16.081022024154663
November - 2019
21.795396089553833
December - 2019
14.814949035644531
January - 2020
16.210611581802368
February - 2020
16.812862634658813
March - 2020
26.277209043502808
April - 2020
15.751101732254028
May - 2020
16.91885256767273
June - 2020
18.458771228790283
July - 2020
16.057525396347046
August - 2020
16.84548592567444
September - 2020
16.68688702583313
October - 2020
17.3386971950531
November - 2020
15.594252824783325
December - 2020
14.45209789276123
3015.4430027008057

In [6]:
#Writing all the links into a csv-file to avoid rescraping every time.
with open('article_links.csv', 'w') as a_file:
    for link in article_links:
        link = ''.join(link)
        a_file.write(link + '\n')

In [5]:
def scrape_content(link):
    #Load page
    page = requests.get(link).content
    page = page[str(page).find('body'):]
    soup_link = BeautifulSoup(page)
    
    #Get title
    #title = soup_link.find('h1').get_text()
    
    #Get date for publishing
    #date = soup_link.find('meta', itemprop="datePublished")['content'][:10]
    
    #Get article content
    #article = soup_link.find('div', itemprop='text').get_text()
    
    #return [title, date, article]
    return soup_link

In [2]:
article_links = pd.read_csv('article_links.csv', sep="<", header=None)
article_links.columns = ['links']
article_links = article_links['links'].to_list()
links = []
for link in article_links:
    if ".com/advertorial" not in link and ".com/select" not in link:
        links.append(link[0:len(link)-1])
article_links = links

In [ ]:
#t0 = time()
#for link in article_links[0:10]:
#    scrape_content(link)
#    print(time()-t0)

In [3]:
strainer = SoupStrainer('div', class_='Article')

In [15]:
df = []
index = 0
save_every = 1000
t0 = time()
for link in article_links[290000:295000]:
    t1 = time()
    request = requests.Session()
    page = request.get(link)
    status_code = page.status_code
    page = str(page.content)
    index += 1
    if status_code == 200:
        try:
            page = page[page.find('<div id="MainContent"'):]
            soup_link = BeautifulSoup(page)
            title = soup_link.find('h1', class_='ArticleHeader-headline').get_text()
            article = soup_link.find('div', class_="ArticleBody-articleBody").get_text()
            date = f'{link[29:31]}-{link[26:28]}-{link[21:25]}'
            topic = soup_link.find('a', class_="ArticleHeader-eyebrow").get_text()
            df.append([title, topic, date, article, link])
            t9 = time()
            print(f'({index}/5000) : {link}')
        except:
            pass
    else:
        print(f'({index}/5000) : Skipped')
    if index % save_every == 0:
        save = pd.DataFrame(df)
        file_name = f'articles_0_{index}.csv'
        save.to_csv(file_name)
print(time()-t0)

(1/5000) : https://www.cnbc.com/2018/03/26/oil-markets-middle-east-tension-global-market-recovery-in-focus.html
(2/5000) : https://www.cnbc.com/2018/03/27/why-one-of-wall-streets-biggest-bulls-says-hes-not-bullish-enough.html
(3/5000) : https://www.cnbc.com/2018/03/27/krawchecks-ellevate-rolls-out-funds-to-invest-in-women.html
(4/5000) : https://www.cnbc.com/2018/03/27/apple-education-event-in-chicago-tim-cooks-speech.html
(5/5000) : https://www.cnbc.com/2018/03/27/pharma-bro-martin-shkreli-files-notice-of-appeal-of-fraud-conviction.html
(6/5000) : https://www.cnbc.com/2018/03/27/cambridge-analytica-an-example-of-modern-day-colonialism-whistleblower.html
(7/5000) : https://www.cnbc.com/2018/03/27/linda-brown-central-figure-in-school-segregation-case-dies.html
(8/5000) : https://www.cnbc.com/2018/03/27/oscar-health-raises-165-million-at-3-point-2-billion-alphabet-founders.html
(10/5000) : https://www.cnbc.com/2018/03/27/facebook-ceo-mark-zuckerberg-will-reportedly-testify-before-congress.html
9.508726596832275

In [11]:
df = pd.DataFrame(df)
df

,0,1,2,3,4
0,Oil prices rise as geopolitical tensions offse...,Energy,26-03-2018,"Getty ImagesOil prices rose on Tuesday, holdin...",https://www.cnbc.com/2018/03/26/oil-markets-mi...
1,Why one of Wall Street\xe2\x80\x99s biggest bu...,Trading Nation,27-03-2018,VIDEO1:4001:40Strategist Tony Dwyer on his bul...,https://www.cnbc.com/2018/03/27/why-one-of-wal...
2,Krawcheck's Ellevest rolls out funds to invest...,Wall Street,27-03-2018,"Sally Krawcheck, CEO and co-founder of Elleves...",https://www.cnbc.com/2018/03/27/krawchecks-ell...
3,Apple reveals new $299 iPad at education-theme...,Tech,27-03-2018,VIDEO1:0201:02Apple reveals new $299 iPad at e...,https://www.cnbc.com/2018/03/27/apple-educatio...
4,Pharma bro Martin Shkreli appeals fraud convic...,Biotech and Pharma,27-03-2018,Ex-pharmaceutical executive Martin Shkreli arr...,https://www.cnbc.com/2018/03/27/pharma-bro-mar...
...,...,...,...,...,...
4264,Malaysia elections: Here are the results forec...,Elections,08-05-2018,Former Malaysian Prime Minister Najib RazakGet...,https://www.cnbc.com/2018/05/08/malaysian-elec...
4265,Trump vowed to punish companies that moved job...,Politics,08-05-2018,Republican presidential candidate Donald Trump...,https://www.cnbc.com/2018/05/08/trump-vowed-to...
4266,Treasury yields hold higher after Trump says h...,Bonds,08-05-2018,U.S. government debt yields ticked higher Tues...,https://www.cnbc.com/2018/05/08/iran-deal-anno...
4267,Trump told French President Macron he plans to...,Investing,08-05-2018,VIDEO2:1302:13Trump to pull out of Iran nuclea...,https://www.cnbc.com/2018/05/08/trump-told-fre...
4268,Crude recoups big losses on Trump\xe2\x80\x99s...,Trading Nation,08-05-2018,VIDEO2:2202:22Crude crosses $70 for the first ...,https://www.cnbc.com/2018/05/08/crude-falling-...

In [12]:
df.to_csv('articles_290000_295000.csv')

In [13]:
df_test = pd.read_csv('articles_290000_295000.csv')

In [14]:
df_test.head(5)

,Unnamed: 0,0,1,2,3,4
0,0,Oil prices rise as geopolitical tensions offse...,Energy,26-03-2018,"Getty ImagesOil prices rose on Tuesday, holdin...",https://www.cnbc.com/2018/03/26/oil-markets-mi...
1,1,Why one of Wall Street\xe2\x80\x99s biggest bu...,Trading Nation,27-03-2018,VIDEO1:4001:40Strategist Tony Dwyer on his bul...,https://www.cnbc.com/2018/03/27/why-one-of-wal...
2,2,Krawcheck's Ellevest rolls out funds to invest...,Wall Street,27-03-2018,"Sally Krawcheck, CEO and co-founder of Elleves...",https://www.cnbc.com/2018/03/27/krawchecks-ell...
3,3,Apple reveals new $299 iPad at education-theme...,Tech,27-03-2018,VIDEO1:0201:02Apple reveals new $299 iPad at e...,https://www.cnbc.com/2018/03/27/apple-educatio...
4,4,Pharma bro Martin Shkreli appeals fraud convic...,Biotech and Pharma,27-03-2018,Ex-pharmaceutical executive Martin Shkreli arr...,https://www.cnbc.com/2018/03/27/pharma-bro-mar...